body{
    margin: 0px;
    padding: 0px;
}

#navigation-bar{
    font-family:sans-serif;
    font-weight: 600;
    height: 50px;
    background-image: linear-gradient(to right, rgb(223, 215, 204), rgb(247, 247, 245),rgb(223, 215, 204));
    margin: 0px;
}

#navigation-bar ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}

#navigation-bar ul li{
    margin-left: 30px;
    align-content: center;
    line-height: 50px;
    height: 50px;
}

#navigation-bar ul li a{
    display: flex;
    flex-direction: row;
    height: 50px;
}

#navigation-bar ul li img{
    width: 30px;
}
#navigation-bar ul li:nth-child(1) img{
    width: 200px!important; 
}

#navigation-bar ul li:nth-child(2){
    margin-left: auto;
}

#navigation-bar ul li:last-child{
    margin-right: 100px!important;
}

/* unvisited link */
a:link {
    color: rgb(106, 37, 0);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(106, 37, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(106, 37, 0);
  }
  
  /* selected link */
  a:active {
    color:rgb(106, 37, 0);
  }