@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgb(106, 37, 0);
}

h1, h2, h3{
    font-family:'Lobster Two',cursive;
    color: var(--primary-color);
}

#content{
    margin-top: 40px;
}

/* unvisited link */
a:link {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: var(--primary-color);
  }
  
  /* mouse over link */
  a:hover {
    color: var(--primary-color);
  }
  
  /* selected link */
  a:active {
    color:var(--primary-color);
  }
