body{
    margin: 0px;
    padding: 0px;
}

#navigation-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}

#navigation-bar ul li{
    margin-left: 30px;
    align-content: center;
    line-height: 50px;

}

#navigation-bar ul li a{
    display: flex;
    flex-direction: row;
}

#navigation-bar ul li img{
    width: 30px;
}
#navigation-bar ul li:nth-child(1) img{
    width: 200px!important; 
}

#navigation-bar ul li:nth-child(2){
    margin-left: auto;
}

#navigation-bar ul li:last-child{
    margin-right: 30px;
}

/* unvisited link */
a:link {
    color: rgb(106, 37, 0);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(106, 37, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(106, 37, 0);
  }
  
  /* selected link */
  a:active {
    color:rgb(106, 37, 0);
  }