.banner{
    display: inline;
    position: relative;
    width: 1140px;
}

#banner-img-1{
    width: 780px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

#banner-img-2{
    width: 340px;
    height: 280px!important;
    object-fit: cover;
    border-radius: 0px 5px 5px 0px;
}

#banner-text-1{
    position: absolute;
    top: -90px;
    right:380px;
    background-color: rgba(245, 245, 245, 0.842);
    padding: 20px;
    
}

#banner-text-2{
    position: absolute;
    top: -40px;
    right:0px;
    background-color: rgba(245, 245, 245, 0.787);
    padding: 10px;
    word-wrap: break-word;
    width: 320px;
}

.item-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    height: 350px;
}

.card-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card-header{
    font-family:'Lobster Two',cursive;
    font-size: 20px;
    color: var(--primary-color);
}

.card-body{
    color: var(--primary-color);
}


.card-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    margin-top: auto;
}

.price-tag{
    background-color: var(--primary-color);
    width: 120px;
    height: 30px;
    position: relative;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.price-tag::before{
    content: " ";
    width: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    border-top: 15px solid transparent;
    border-right: 22px solid var(--primary-color);
    border-bottom: 15px solid transparent;
    border-radius: 2px;
}

.price-tag::after{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 12px;
    content: "";
}


.info-icon{
    color: var(--primary-color);
}

